/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0b0b;
    color:#fff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

#main-content{
    display:none;
}
.hero{
    text-align:center;
    padding:60px 20px 30px;
}

.hero-logo{
    width:150px;
    margin-bottom:15px;
}

.hero h1{
    font-size:34px;
    color:#fff;
    margin-bottom:10px;
}

.hero p{
    color:#cfcfcf;
    max-width:320px;
    margin:0 auto 25px;
}.hero-box{
    max-width:340px;
    margin:auto;
    padding:25px;
    border-radius:20px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
}

.hero-box h3{
    color:#9EFF00;
    margin-bottom:15px;
}

.hero-list{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

.register-btn{
    display:block;
    background:#e11d2e;
    color:#fff;
    padding:15px;
    border-radius:12px;
    font-weight:700;
}.hero-links{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:18px;
}

.hero-links a{
    color:#9EFF00;
    font-size:14px;
}.live-stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:12px;
    padding:30px 20px;
}

.stat-card{
    background:#151515;
    border-radius:16px;
    padding:18px 10px;
    text-align:center;
}

.stat-card h3{
    color:#9EFF00;
    font-size:20px;
}

.stat-card p{
    font-size:12px;
    color:#ccc;
    margin-top:5px;
}.promo-section{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    padding:10px 20px 40px;
}

.promo-card{
    background:#151515;
    border-radius:18px;
    padding:20px;
    text-align:center;
}

.promo-icon{
    font-size:30px;
    margin-bottom:10px;
}

.promo-card h3{
    font-size:18px;
    color:#fff;
}

.promo-card p{
    font-size:13px;
    color:#cfcfcf;
    margin-top:8px;
}
/* ===========================
   AVAILABLE GAMES
=========================== */

.games{
    padding:35px 20px;
    text-align:center;
}

.games h2{
    font-size:28px;
    margin-bottom:20px;
}

.games-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.game-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:20px 15px;
    transition:.3s;
}

.game-card:hover{
    transform:translateY(-5px);
    border-color:#9EFF00;
    box-shadow:0 0 18px rgba(158,255,0,.25);
}

.game-logo{
    width:60px;
    height:60px;
    object-fit:contain;
    margin-bottom:12px;
}

.game-card h3{
    font-size:16px;
    color:#fff;
}
